
    <div>
            <h1 style="text-align: center"> Representacion total de valores.</h1>
            <div id="chart" style="width: 700px !important; height: 700px;"></div>
    </div>



<!-- Scripts -->

    <script type="module" src="./static/js/index.js"></script>
