<a href="/logout">Sign Out</a>
<h1>Ingreso de datos</h1>
    <form action="" method="POST">
      <div>
        <label for="urna">Urna</label>
        <input type="number" id="urna" name="urna" />
      </div>
      <div>
        <label for="lista_verde">Lista Verde</label>
        <input type="number" id="lista_verde" name="lista_verde" />
      </div>
      <div>
        <label for="lista_roja">Lista Roja</label>
        <input type="number" id="lista_roja" name="lista_roja" />
      </div>
      <div>
        <label for="nulo">Nulos</label>
        <input type="number" id="nulo" name="nulo" />
      </div>
      <div>
        <label for="blanco">Blancos</label>
        <input type="blanco" id="blanco" name="blanco" />
      </div>
      <div>
        <label for="observado">Observados</label>
        <input type="number" id="observado" name="observado" />
      </div>
      <button type="submit">Enviar</button>
    </form>