{{!-- <a href="/logout">Sign Out</a>
<h1>Ingreso de datos</h1>
    <form action="" method="POST">
      <div>
        <label for="urna">Urna</label>
        <input type="number" id="urna" name="urna" />
      </div>
      <div>
        <label for="lista_verde">Lista Verde</label>
        <input type="number" id="lista_verde" name="lista_verde" />
      </div>
      <div>
        <label for="lista_roja">Lista Roja</label>
        <input type="number" id="lista_roja" name="lista_roja" />
      </div>
      <div>
        <label for="nulo">Nulos</label>
        <input type="number" id="nulo" name="nulo" />
      </div>
      <div>
        <label for="blanco">Blancos</label>
        <input type="blanco" id="blanco" name="blanco" />
      </div>
      <div>
        <label for="observado">Observados</label>
        <input type="number" id="observado" name="observado" />
      </div>
      <button type="submit">Enviar</button>
    </form> --}}
  <div class="container">
    <div class="border mt-3 text-center bg-primary p-3 rounded-1">
            <h1 class="mb-5 text-white">Ingreso de datos.</h1>
          <form action="" method="POST">
              <select class="form-select mb-5 text-center" aria-label="Default select example" id="combobox1">
                <option selected>Selecione Sede</option>
              </select>
              <select class="form-select text-center" aria-label="Default select example" id="combobox2" name="urna">
                  <option selected>-------</option>
              </select>
              {{!-- <div>
                <label for="urna">Urna</label>
                <input type="number" id="urna" name="urna" />
              </div> --}}
              <div>
                {{!-- <label for="lista_verde">Lista Verde</label> --}}
                <input type="number" id="lista_verde" name="lista_verde" placeholder="Lista Verde" />
              </div>
              <div>
                {{!-- <label for="lista_roja">Lista Roja</label> --}}
                <input type="number" id="lista_roja" name="lista_roja" placeholder="Lista Roja"/>
              </div>
              <div>
                {{!-- <label for="nulo">Nulos</label> --}}
                <input type="number" id="nulo" name="nulo" placeholder="Nulos"/>
              </div>
              <div>
                {{!-- <label for="blanco">Blancos</label> --}}
                <input type="blanco" id="blanco" name="blanco" placeholder="Blancos"/>
              </div>
              <button type="submit">Enviar</button>
            </form>
            <a href="/auth/logout" class="btn btn-secondary">Logout</a>
    </div>
  </div>
  <!-- añadimos el archivo javascript -->
  <script src="/static/js/formulario.js"></script>