
<body class="is-preload">

		<!-- Header -->
			<section id="header">
				<div class="inner">	
					<span><i class="icon solid major fa fa-envelope"></i></span>
					<h1>Elecciones <strong>2022</strong><br/>
					<strong>APUBA</strong>.</h1>
					<p>Vea los resultados de todas las sedes y de cada una de las urnas, <br/>a medida que se cargan los resultados.</p>
					<ul class="actions special">
						<li><a href="#one" class="button scrolly">VEA LOS RESULTADOS</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="main style1">
				<div class="container">
					<div class="row gtr-150">
						<div class="col-6 col-12-medium imp-medium">
							{{>parciales}}
						</div>
						<div class="col-6 col-12-medium">
							<header class="major">
								<h2>Lorem ipsum dolor adipiscing<br />
								amet dolor consequat</h2>
							</header>
							<p>Adipiscing a commodo ante nunc accumsan et interdum mi ante adipiscing. A nunc lobortis non nisl amet vis sed volutpat aclacus nascetur ac non. Lorem curae et ante amet sapien sed tempus adipiscing id accumsan.</p>
						</div>
					</div>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="main style1 special">
				<div class="container">
					<header class="major">
						<h2>Adipiscing amet consequat</h2>
					</header>
					<p>Ante nunc accumsan et aclacus nascetur ac ante amet sapien sed.</p>
					<div class="row gtr-150">
						{{>lista}}
					</div>
				</div>
			</section>
				<div class="container" style="padding: 2rem; display: center">
			        <button type="button" class="button scrolly">
						Ver todos los datos.	
					</button>
				</div>
		<!-- Four -->
			<section id="four" class="main style2 special">
				<div class="container">
					<header class="major">
						<h2>Ingresar datos?</h2>
					</header>
					<p>Por favor, ingrese en la plataforma.</p>
					<ul class="actions special">
						<li><a href="#" class="button wide primary">Entrar</a></li>
					</ul>
				</div>
			</section>

		<!-- Footer -->
			<section id="footer">
				<ul class="icons">
					<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Apuba 2022</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</section>

	</body>

		<!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="static/js/browser.min.js"></script>
    <script src="static/js/jquery.scrolly.min.js"></script>
    <script src="static/js/breakpoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollex/0.2.1/jquery.scrollex.min.js"></script>
    <script src="static/js/util.js"></script>
    <script src="static/js/main.js"></script>
    
    {{!-- <script type="module" src="./static/js/index.js"></script> --}}

