  spam {
    margin: 0px;
  }

  h4 {
    margin: 0 0 0 0 !important;
    line-height: .5em !important;
    text-align: left;

  }
  
  .cajaBarra
  {
    box-sizing: border-box;
    width: 100%;
  }

  .cajaBarra p
  {
    color: rgb(5, 5, 5);
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 0;
    font-family: bold;
    letter-spacing: 1px;
  }

  .cajaBarra spam p:nth-child(2)
  {
    float: right;
    position: relative;
    top: -20px;
    font-weight: bold;
  }

  .barra
  {
    background: #ffffff;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    border-radius: 2px;
  }

  .nivelbarraroja
  {
    background: #bb2c1f;
    width: 100%;
    height: 30px;
  }

  .nivelbarraverde
  {
    background: #31b442;
    width: 100%;
    height: 30px;
  }